.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.back-button {
  position: absolute;
  left: 0;
  top: 10;
}
.horizontal-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
